.Rproj.user
.Rhistory
.RData
.Ruserdata
output
data/covariaveis
data/deteccoes
data/geo
data/South_America
data//pictures
referencias_MS
Arthur_shiny/old_tries
bugs_sen
output_sensitivity
*sensitivity.R
*.pptx
R/Copy*.R
R/*sensitivity.R
R/*codigos.R